/*** 
conversion table 
1rem = 16px
***/

body {
  margin: 0;
  background-color: lightcyan;
  font-family: 'PT Sans', sans-serif;
}

/*** navigation bar */ 
nav {
  float:left;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 13%;
  position: fixed;
  height: 100%;
  background-color: white;
  border-right: solid black 0.50px;
} 
li {
  padding: 2.5px 15px 2.5px;
} 
li a {
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 20px;
  color: grey;
}
li a:hover {
  color: green;
}

#tcImg {
  margin-top: 10px;
  width: 50px;
  height: auto;
}
#joinTechCrunch {
  font-weight: bold;
  font-size: 1.25rem;
}
#joinTechCrunch a {
  color: rgb(235, 200, 47);
}
#login {
  padding-bottom: 25px;
  font-size: 18px;
}
#techCrunchPlus a:hover {
  color: rgb(235, 200, 47);
}

/*main content*/ 
main {
  float:left;
}

